header.navbar
  display flex
  align-items center
  .sidebar-button
    position static
  .home-link
    display flex
    align-items center
p.lead 
  font-weight 300
  font-size 20px

p.lead::after
  display block
  background linear-gradient(to right, #666 0%, #1900da 80%)
  height 4px
  content ""
  width 65%
  border-radius 10px
  margin-top 2rem
  margin-bottom 2.5rem

img 
  display flex
  margin 1rem 0
  border-radius 5px

a + small 
  display flex
  margin-top -1.25rem
  margin-bottom 3rem

a[data-fancybox] 
  display flex
  margin 1rem 0

img 
  border-radius 5px

.freebirdFormviewerViewCenteredContent
    max-width 94% !important
    margin-left 4px !important

.p5embed
  margin 1rem 0
  border none 
  border-radius .3rem

.btn 
  background #f1f1f1
  border-radius .2rem
  padding .5rem .75rem
  transition all ease .3s
.btn:hover 
    background #e5e5e5
    text-decoration none !important
    cursor pointer
  
.action-btn 
  background #1900da
  color white
.action-btn:hover
  background #1900da
  text-decoration none !important
  cursor pointer

.search-box + .nav-links .nav-item:last-child
  background #1900da
  padding-left 1rem
  padding-right 1rem
  border-radius 10rem
  color white
  opacity .9
  a.router-link-active,
  a.nav-link
      color white
      &:hover,
      &:active
        opacity 1
        color white
  &:hover,
  &:active
    opacity 1
    color white
    a.router-link-active
      color white

.custom-block
  border-radius .5rem
  margin 2.5rem 0 !important

.videohtml
  width 100%
  height auto
  border-radius .4rem